<header class="hero is-warning is-medium">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item">
                        <img src="img/comic-book.svg" alt="">
                        <h1><b>Comicbooker!</b></h1>
                        <h4 class="spacer">Catalog your comics</h4>
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenuHeroA">
              <span></span>
                    <span></span>
                    <span></span>
                    </span>
                </div>
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item is-active">
                Home
              </a>
                        <a class="navbar-item">
                Library
              </a>


                    </div>
                </div>
            </div>
        </nav>
    </div>

    <!-- Hero content: will be in the middle -->
    <!-- <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                Comicbooker
            </h1>
            <h2 class="subtitle">
                Catalog your comics
            </h2>
        </div>
    </div> -->

</header>

<div class="container">
    <div class="tile is-ancestor">
        <div class="tile is-4 is-vertical is-parent">
            <div class="tile is-child box">
                <p class="title">Newest addition</p>
                <a href="#newest"><img src="<%= comicbookdata.comics_table[0].img_url %>" alt="Secret invasion" width="120" height="auto"></a>
                <h3 class="is-bold">
                    <%= comicbookdata.comics_table[0].title %>
                </h3>
                <p>
                    <%= comicbookdata.comics_table[0].description %>
                </p>
            </div>
            <div class="tile is-child box">
                <p class="title">Check out</p>
                <a href="#check-out"><img src="<%= comicbookdata.comics_table[2].img_url %>" alt="Silver surfer" width="120" height="auto"></a>
                <h3 class="is-bold">
                    <%= comicbookdata.comics_table[2].title %>
                </h3>
                <p>
                    <%= comicbookdata.comics_table[2].description %>
                </p>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="tile is-child box">
                <p class="title">Last Read</p>
                <a href="#last-read"><img src="<%= comicbookdata.comics_table[1].img_url %>" alt="X-men" width="120" height="auto"></a>
                <h3 class="is-bold">
                    <%= comicbookdata.comics_table[1].title %>
                </h3>
                <p>
                    <%= comicbookdata.comics_table[1].description %>
                </p>
            </div>
        </div>
    </div>
</div>